# Bot token (starts with xoxb-)
# api.slack.com/apps > tu app > OAuth & Permissions > Bot User OAuth Token
SLACK_BOT_TOKEN=xoxb-...

# Signing secret
# api.slack.com/apps > tu app > Basic Information > App Credentials
SLACK_SIGNING_SECRET=xxx

# Port where the server runs. Keep 3000 for local development.
PORT=3000

# URL of the webhook trigger of your Workflow Builder.
# It's generated when you change the trigger of the workflow to "From a webhook"
WORKFLOW_WEBHOOK_URL=https://hooks.slack.com/workflows/...  